<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>[[#{usuario.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{usuario.add.headline}]]</h1>
                <div>
                    <a th:href="@{/u}" class="btn btn-secondary">[[#{usuario.add.back}]]</a>
                </div>
            </div>     

            <div class="row">
                <form th:action="@{/u/salvar}" th:object="${usuario}" method="POST" class="was-validated col s12">
                    <div class="row">
                        <div class="text-center mb-4">


                            <div th:if="${alerta != null}" th:class="${alerta == 'erro'} ? 'alert alert-danger' : 'alert alert-success'"
                                 role="alert">
                                <h4 th:text="${titulo}" class="alert-heading">Credenciais...</h4>
                                <p th:text="${texto}">Login ou senha incorretos...</p>
                                <hr>
                                <p class="mb-0"><small th:text="${subtexto}">Acesso permitido...</small></p>
                            </div>
                        </div>

                        <div th:if="${#fields.hasAnyErrors()}">	
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <div th:each="error : ${#fields.detailedErrors()}">
                                    <i class="oi oi-warning"></i>
                                    <span th:text="${error.message}"></span>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>	
                    </div>	
                    <div class="row">
                        <div class="input-field col s4">
                            <input type="text" id="nome"  placeholder="antony"  th:field="*{nome}" required autofocus />
                            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger" />
                            <label for="nome">NOME </label>
                        </div>
                        <div class="input-field col s5">
                            <input type="email" id="email"  placeholder="e-mail" th:field="*{email}" required autofocus />
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"/>
                            <label for="email">E-mail </label>
                        </div>




                        <div class="input-field col s3">

                            <input type="password"  id="password" maxlength="6"
                                   th:field="*{password}" placeholder="Insira sua senha de acesso" required />
                            <label for="password">Senha</label> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <p th:each="perfis : ${perfis}">

                                <input type="checkbox" th:value="${perfis}" id="perfis" th:field="*{perfis}" /> 
                                <label  th:text="${perfis}" for="perfis">perfil</label>


                            </p>
                        </div>


                        <div class="input-field custom-switch col s6">

                            <input type="checkbox" class="custom-control-input" th:field="*{ativo}" id="ativo" th:if="${ativo == true ? 'checked=checked' : ''}" />
                            <label class="custom-control-label" for="ativo">Cadastro Ativo</label>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <div class="row">

                        <input class="waves-effect waves-light btn-small col s2 offset-s10" type="submit"  value="Salvar"/>

                    </div>
                </form>

            </div>
        </div>


        <script	th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">
            $('#perfis').ready(function(){
            var perfis = [[${usuario.perfis}]];
            $.each(perfis, function(k, v) {
            $('#perfis option[value="' + v.id + '"]').attr('selected', 'selected');
            })
            });
        </script>

    </body>
</html>