<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>add cargos</title>
    </head>
    <body>
        <div  layout:fragment="corpo">

            <div class="album py-5 bg-light">

                <div class="d-flex justify-content-center">
                    <div class="col-md-10">

                        <div th:replace="~{fragments/alert :: alerta-sucesso}"></div>	

                        <form th:action="${cargo.id == null} ? @{/cargo/create} : @{/cargo/update}" th:object="${cargo}" method="POST" class="was-validated">
                            <div class="form-group row">

                                <label for="nome" class="col-sm-2 col-form-label">Cargo </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  th:field="*{nome}" id="nome"  required/>
                                    <div class="invalid-feedback">cargo  é requerido.</div>
                                </div>

                                <input type="hidden" id="id" th:field="*{id}"/>	


                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-primary mb-3" value="Salvar"/>
                                </div>
                            </div>
                        </form>

                        <hr/>

                        <h2>Lista de Cargos</h2>


                        <table id="table-cargo" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cargos</th>

                                    <th scope="col">Editar</th>
                                    <th scope="col">Excluir</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <script th:src="@{/js/cargo.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>