<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <title>Controle Presença</title>
    </head>
    <body>

        <div  layout:fragment="corpo">

            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{presenca.list.headline}]]</h1>
                <div>
                    <a th:href="@{/presenca}" class="btn btn-primary ms-2">[[#{presenca.add.back}]]</a>
                </div>
            </div>



            <form th:action="${presenca.id == null} ? @{/presenca/salvar} : @{/presenca/editar}" th:object="${presenca}"  method="POST" class="was-validated">


                 <div class="form-row align-items-center"  th:each="funcionario : ${funcionarios}">
                   <div class="col-7">
                        <input type="text" readonly class="form-control" th:field="*{funcionario.nome}" th:text="${funcionario.nome}"   id="funcionario"  />

                    </div>
                     <div class="col" >

                          <input type="text"  class="form-control" th:field="*{status}"    id="status"  />

                    </div>
                   
                    <input type="hidden" th:field="*{id}"/>
                    <div class="col" >
                        <input type="submit" th:value="#{presenca.add.headline}" class="btn btn-primary mt-4 fas fa-save" />
                    </div>
                </div>



            </form>

        </div>



        <script	th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">
          
        </script>
    </body>
</html>