<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>[[#{departamento.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{departamento.add.headline}]]</h1>
                <div>
                    <a th:href="@{/departamento}" class="btn btn-secondary">[[#{departamento.add.back}]]</a>
                </div>
            </div>

            <form th:action="${departamento.id == null} ? @{/departamentos/add} : @{/departamentos/editar}"
                  th:object="${departamento}"	method="POST" class="was-validated ">

                <div class="row g-1">
                    <div class="col-sm">                        
                        <div class="form-floating mb-3">  
                            <input type="text"  th:field="*{nome}" id="nome"  required class="form-control">
                            <label for="nome">Nome</label>
                            <span class="invalid-feedback" data-error="wrong" data-success="right"/>
                        </div>
                    </div>

                </div>      
                    <input type="submit" class="btn btn-primary mb-3" value="Salvar"/>

            </form>



            <h2>Lista de Departamentos</h2>

            <table id="table-departamentos" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Departamento</th>                              
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
            </table>
        </div>


        <script th:src="@{/js/departamentos.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>
