<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Add Departamento</title>
    </head>
    <body>

        <div layout:fragment="corpo">


            

                <div class="d-flex justify-content-center">
                    <div class="col-md-12">


                        <div th:replace="~{fragments/alert :: alerta-sucesso}"></div>	

                        <form th:action="${departamento.id == null} ? @{/departamento/create} : @{/departamento/update}"
                              th:object="${departamento}"	method="POST" class="was-validated">
                            <div class="form-group row">

                                <label for="nome" class="col-sm-2 col-form-label">Departamento </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  th:field="*{nome}" id="nome"  required/>
                                    <div class="invalid-feedback">Departamento  é requerido.</div>
                                </div>

                                <input type="hidden" id="id" th:field="*{id}"/>	


                                <div class="form-group">

                                    <input type="submit" class="btn btn-primary mb-3" value="Salvar"/>
                                </div>
                            </div>
                        </form>

                        <hr/>

                        <h2>Lista de Departamentos</h2>

                        <table id="table-departamentos" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Departamento</th>                              
                                    <th scope="col">Editar</th>
                                    <th scope="col">Excluir</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
       
        <script th:src="@{/js/departamentos.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>