<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{departamento.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{departamento.list.headline}]]</h1>
                <div>
                    <a th:href="@{/departamento/add}" class="btn btn-primary ms-2">[[#{departamento.list.createNew}]]</a>
                </div>
            </div>
                <table id="table-departamentos" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Departamento</th>                              
                            <th scope="col">Editar</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                </table>
            </div>
      


       <script th:src="@{/js/departamentos.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">

        </script>
    </body>
</html>