<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>[[#{pessoa.juridica.add.headline}]]</title>
    </head>

    <body>
        <div  layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{pessoa.juridica.add.headline}]]</h1>
                <div>
                    <a th:href="@{/pessoa_juridica}" class="btn btn-secondary">[[#{pessoa.juridica.add.back}]]</a>
                </div>
            </div>	

            <form th:action="${empresa.id == null} ? @{/pessoa_juridica/save} : @{/pessoa_juridica/update}" th:object="${empresa}" method="POST" class="was-validated">
                <div class="row g-2">
                    <div class="col-sm">                        
                        <div class="form-floating">  
                            <input type="text" class="form-control"  th:field="*{nome}" id="nome"  required/>                         
                            <label for="nome" >Nome </label>
                        </div>
                    </div>
                    <div class="col-sm">                        
                        <div class="form-floating">  
                            <input type="text" class="form-control"  th:field="*{sobrenome}" id="sobrenome"  required/>
                         
                            <label for="sobrenome" >Razão Social </label>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-sm">                        
                        <div class="form-floating">  
                            <input type="date" id="nascimento" th:field="*{nascimento}" class="form-control"/> 
                            <label for="nascimento">Abertura</label>
                        </div>
                    </div>
                    <div class="col-sm">                        
                        <div class="form-floating">  
                            <input type="text" id="cnpj" th:field="*{cnpj}" class="form-control"/> 
                            <label for="cnpj">cnpj</label>
                        </div>
                    </div>
                </div>



                <div class="row g-2">
                    <div class="col-sm">                      
                        <div class="form-floating">  
                            <input type="text" id="ie" th:field="*{ie}" class="form-control"/> 
                            <label for="ie">ie</label>
                        </div>
                    </div>
                    <div class="col-sm">                        
                        <div class="form-floating">  
                            <input type="text" id="im" th:field="*{im}" class="form-control"/> 
                            <label for="ie">im</label>
                        </div>
                    </div>
                </div>


                <input type="hidden" id="id" th:field="*{id}"/>	


                <div class="col-sm-2">                        
                    <div class="form-floating mb-3">  

                        <input class="btn btn-primary" type="submit"  value="Salvar"/>

                    </div>
                </div>

            </form>



            <table id="table-empresa" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">nome</th>
                        <th scope="col">razão social</th>
                        <th scope="col">abertura</th>
                        <th scope="col">cnpj</th>
                        <th scope="col">inscrição estadual</th>
                        <th scope="col">inscrição municipal</th>
                        <th scope="col">capital</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
            </table>
        </div>




        <script th:src="@{/js/empresa.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>
