<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Lista de Funcionários</title>
    </head>
    <body>
        <div  layout:fragment="corpo">


            <h2>Funcionários Cadastrados</h2>


            <table   class="table table-sm table-striped table-bordered">
                <thead class="thead-dark">  
                    <tr>
                        <th scope="col">Cód</th>
                        <th scope="col">Nome </th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Nascimento</th>
                        <th scope="col">Matrícula</th>
                        <th scope="col">CPF</th>
                        <th scope="col">RG</th>                       
                        <th scope="col">MÃE</th>
                        <th scope="col">PAI</th>
                        <th scope="col">EC</th>
                        <th scope="col">GENERO</th>
                        <th scope="col">SALÁRIO</th>
                        <th scope="col">ADMISSÃO</th>                                
                        <th scope="col">NATURALIDADE</th>                       
                        <th scope="col">editar</th>                                        

                        <th scope="col">Excluir</th>     

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="funcionario : ${funcionarios}">
                        <td th:text="${funcionario.id}">cod</td>
                        <td th:text="${funcionario.nome}">nome</td>
                        <td th:text="${funcionario.sobrenome}">sobrenome</td>
                        <td th:text="${#dates.format(funcionario.nascimento, 'dd/MM/yyyy')}">Nascimento</td>
                        <td th:text="${funcionario.cpf}">cpf</td>
                        <td th:text="${funcionario.rg}">rg</td>
                        <td th:text="${funcionario.passaporte}">passaporte</td>
                        <td th:text="${funcionario.mae}">mae</td>
                        <td th:text="${funcionario.pai}">pai</td>                               
                        <td th:text="${funcionario.ec}">ec</td>
                        <td th:text="${funcionario.genero}">genero</td>                                
                        <td th:text="'$' + ${#numbers.formatDecimal(funcionario.cargo.salario, 0, 'COMMA', 2, 'POINT')}">Salary</td>

                        <td th:text="${#dates.format(funcionario.admissao,'dd/MM/yyyy')}">admissao</td>
                        <td th:text="${funcionario.naturalidade}">natural</td>
                        <td th:text="${funcionario.empresa.nome}">nome</td>

                    </tr>
                </tbody>
        </div>

        <script src="../../static/js/funcionaio.js(v=${version})" th:src="@{/js/funcionario.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>