<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
	<head>
		<title>[[#{perfil.add.headline}]]</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="d-flex flex-wrap mb-4">
				<h1 class="flex-grow-1">[[#{perfil.add.headline}]]</h1>
				<div>
					<a th:href="@{/perfis}" class="btn btn-secondary">[[#{perfil.add.back}]]</a>
				</div>
			</div>     
<hr />
			<div class="row">
				<form th:action="${perfil.id == null} ? @{/perfis/salvar} : @{/perfis/editar}"  th:object="${perfil}" method="POST" class="was-validated col s12">
					<div class="row">
						<div class="input-field col s9">
							<input type="text" class="form-control"   th:field="*{p}" id="p"  required/>
							<label for="p" class="staticEmail2">nome </label>                               
							<div class="invalid-feedback">nome  é requerido.</div>

						</div>
						<input type="hidden" name="id" th:field="*{id}">
						<div class="input-field col s3">
							<input class="waves-effect waves-light btn-small col s2 offset-s10" type="submit"  value="Salvar"/>
						</div>
					</div>
				</form>
			</div>

	<hr />

			<table id="table-perfil"  class="table table-sm table-striped table-bordered nowrap" style="width: 100%">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">nome</th>
						<th scope="col">editar</th>
						<th scope="col">excluir</th>
					</tr>
				</thead>
			</table>


		</div>





		<script   th:src="@{/js/perfis.js(v=${version})}"	th:fragment="js"></script>
		<script th:inline="javascript" th:fragment="inlinescript"></script>
	</body>
</html>