<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{telefone.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{telefone.add.headline}]]</h1>
                <div>
                    <a th:href="@{/telefones}" class="btn btn-secondary">[[#{telefone.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('telefone')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='telefone', field='numero')}" />
                <div th:replace="~{fragments/forms::inputRow(object='telefone', field='tipo', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='telefone', field='pessoa', type='select')}" />
                <input type="submit" th:value="#{telefone.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
       
        <script	th:src="@{/js/telefone.js(v=${version})}"  th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>
