<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Marcar Presença</title>
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">
            <main role="main">



                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="d-flex justify-content-center">
                            <div class="col-md-8 ">

                                <div th:replace="~{fragments/alert :: alerta-sucesso}"></div>

                                <form th:action="${axd.id == null} ? @{/auxiliares/salvar} : @{/auxiliares/editar}"
                                      th:object="${axd}" method="POST" class="was-validated">

                                    <div class="mb-3">
                                        <label for="nome">Nome </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="nome" placeholder="insira seu nome "
                                                   aria-describedby="validationTooltipUsernamePrepend"
                                                   th:field="*{nome}" required />
                                            <div class="invalid-feedback">Nome é requerido.</div>
                                        </div>
                                    </div>



                                    <!--div class="mb-3">
                                            <label for="email">Email</label>
                                            <div class="input-group">
                                                    <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                            id="validationTooltipUsernamePrepend">@</span>
                                                    </div>
                                                    <input type="email" class="form-control" id="email"
                                                            placeholder="Email" aria-describedby="validationTooltipUsernamePrepend"
                                                               th:field="*{usuario.email}" required readonly/>
                                                    <div class="invalid-feedback">Email é requerido.</div>
                                            </div>
                                    </div>

                                    <div class="mb-3">
                                            <label for="senha">Senha</label>
                                            <input type="password" class="form-control" id="senha" maxlength="6"
                                                    placeholder="Insira sua senha de acesso" th:field="*{usuario.password}" required />
                                            <div class="invalid-feedback">Senha é requerida para confirmar a operação.</div>
                                    </div-->

                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary"
                                                    data-toggle="tooltip" data-placement="right" title="Salvar">
                                                <i class="fas fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </section>
        <script	th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>