<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div  layout:fragment="corpo">
            <div th:replace="fragments/alert :: alerta-sucesso"></div>	


            <form th:action="${conta_a_pagar.id == null} ? @{/pagarcontas/salvar} : @{/pagarcontas/editar}" th:object="${conta_a_pagar}" method="POST" class="was-validated row g-3" enctype="multipart/form-data">

                <div class="col-md-4">
                    <label for="processoFinanceiro" class="form-label">Título<span class="invalid-feedback">*</span></label>                                          

                    <input type="text" class="form-control" th:field="*{processoFinanceiro}"  id="processoFinanceiro" required/>
                    <div class="invalid-feedback">Título é requerido.</div>
                </div>

                <div class="col-md-4">
                    <label for="documento" class="form-label">Documeto<span class="invalid-feedback">*</span></label>                                          

                    <input type="text" class="form-control" th:field="*{documento}"  id="documento" required/>
                    <div class="invalid-feedback">Documeto é requerido.</div>
                </div>                          

                <div class="col-md-4">
                    <label for="valorPagar" class="form-label">Valor <span class="invalid-feedback">*</span></label>                                          

                    <input type="text" class="form-control" th:field="*{valorPagar}"  id="valorPagar" required/>
                    <div class="invalid-feedback">Valor é requerido.</div>
                </div>


                <div class="col-md-4">
                    <label for="vencimento" class="form-label">Vencimento<span class="invalid-feedback">*</span></label>                                          

                    <input type="date" class="form-control" th:field="*{vencimento}"  id="vencimento" required/>
                    <div class="invalid-feedback">vencimento é requerido.</div>
                </div>

                <div class="col-md-4">
                    <label for="observacao" class="form-label">Obs<span class="invalid-feedback">*</span></label>                                          

                    <textarea class="form-control"  th:field="*{observacao}"  id="observacao"/>
                    <div class="invalid-feedback">Obs é requerida.</div>
                </div>

                <div class="col-md-4">
                    <label for="parcela" class="form-label">PARCELA<span class="invalid-feedback">*</span></label> 

                    <input type="text" class="form-control" id="parcela"   th:field="*{parcela}" readonly />

                </div>



                <input type="hidden" th:field="*{id}"/>	

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Gegar"><i class="fas fa-save"></i></button>
                    </div>
                </div>
            </form>
            <h2>Lista de Contas a Pagar</h2>

            <table id="table-contas" class="table table-sm table-striped table-bordered display nowrap" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>                                      
                        <th scope="col">Título</th>
                        <th scope="col">Valor Pag</th>
                        <th scope="col">Banco</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Pagamento</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Total</th>
                        <th scope="col">Editar</th> 
                        <th scope="col">Pagar</th>
                    </tr>
                </thead>
            </table>

        </div>

        <script	th:src="@{/js/parcelas.js(v=${version})}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">



        </script>
    </body>
</html>