<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="version=${#strings.randomAlphanumeric(3)}">
    <head th:fragment="hea">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" >[[#{app.title}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
        <meta name="description" content="gestão de pessoas" />
        <meta name="author" content="kalele" />
        <link rel="icon" th:href="@{/image/favicon.ico}" />
        <!--<meta name="_csrf" th:content="${_csrf.token}"/>
               <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
        <!-- materialize core CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Bootstrap core CSS -->
        
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  

        
      
        <!-- jQueryUI (autocomplete) -->
        <link href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" rel="stylesheet"/>
        <!-- Icons fontawesome -->
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
        <!-- Custom styles for this template -->


        <!-- Font datatables -->
        <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="@{https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css(v=${version})}" />
        <link rel="stylesheet" type="text/css" href="@{https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css(v=${version})}" />
        <link rel="stylesheet" type="text/css" href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css(v=${version})}" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css(v=${version})"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"/>
        <!-- Font Awesome JS -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

        <!-- script graficos -->
        <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{https://www.gstatic.com/charts/loader.js}"></script>



        <link th:href="@{/css/footer.css(v=${version}) }"   th:rel="stylesheet" type="text/css" media="all"  />
        <link th:href="@{/css/app.css(v=${version}) }"   th:rel="stylesheet" type="text/css" media="all" />
      


    </head>
    <body>
        <div  th:fragment="header">
            
           
            
            
          <div class="navbar-fixed">
                <nav class=" navbar-light">
                     <div class="nav-wrapper">
                    <a th:href="@{/}" class="brand-logo">
                        <img th:src="@{/image/logo.png}" th:alt="#{app.title}" width="30" height="30" class="d-inline-block">
                        
                    </a>
                                 
                                <ul class="right hide-on-med-and-down" >
                                    
                                    
                                    
                                    <li><a th:href="@{/funcionarios}" class="dropdown-item">[[#{funcionario.list.headline}]]</a></li>
                                    <li><a th:href="@{/departamento}" class="dropdown-item">[[#{departamento.list.headline}]]</a></li>
                                    <li><a th:href="@{/cargo}" class="dropdown-item">[[#{cargo.list.headline}]]</a></li>
                                    <li><a th:href="@{/frequencia}" class="dropdown-item">[[#{frequencia.list.headline}]]</a></li>
                                    <li><a th:href="@{/endereco}" class="dropdown-item">[[#{endereco.list.headline}]]</a></li>
                                    <li><a th:href="@{/telefone}" class="dropdown-item">[[#{telefone.list.headline}]]</a></li>
                                    <li>
                                 <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">[[#{navigation.entities}]]</i></a>
                                    </li>
                                    <li  sec:authorize="!isAuthenticated()">
                              
                                    <a class="btn btn-outline-success my-2 my-sm-0" role="button"
                                       th:href="@{/login}">Login</a>
                               

                               
                                    <a class="btn btn-outline-success my-2 my-sm-0" role="button"
                                       th:href="@{/u/novo/cadastro}">Cadastrar-se</a>
                              
                            </li>

                            <li  sec:authorize="isAuthenticated()">

                                <a class=" btn btn-primary dropdown-toggle my-2 my-sm-0 fas fa-user" data-bs-toggle="dropdown" aria-expanded="false" >
                                  
                                    <span  sec:authentication="name">Bob</span>
                                </a>
                               
                              

                                <ul class="dropdown-menu">
                                    <li><a  th:href="@{/logout}"><i class="small material-icons">logout</i></a></li>
                                </ul>


                            </li>
                                </ul>
                           
                  
                   
                        </div>
                </nav>
            
       
        </div>
        </div>

       
    </body>
</html>
