<ul class="topnav">
    <li><a class="active" href="#home" th:href="@{/}">Home</a></li>
    <li><a href="#news">Atividades</a></li>
    <li><a href="#contact">Contatos</a></li>
    <li class="right">
        <div class="form-check mb-2 mr-sm-2">
            <a class="btn btn-outline-success my-2 my-sm-0" role="button"
               th:href="@{/login}">ACESSAR</a>
        </div>
    </li>
    <li class="right">
        <div class="form-check mb-2 mr-sm-2">
            <a class="btn btn-outline-success my-2 my-sm-0" role="button"
               th:href="@{/u/novo/cadastro}">Cadastrar-se</a>
        </div>
    </li>
</ul>
