<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Header</title>
    </head>

    <body>

        <div th:fragment="menu">
            <ul class="list-unstyled components"  >             

                <li  sec:authorize="hasRole('ADMIN')">
                    <a href="#administrador" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admistrador</a>
                    <ul class="collapse list-unstyled" id="administrador">                    							
                        <li><a  th:href="@{/u/abrir/form}">Cadastro de Usuário</a> <li>
                              <li><a  th:href="@{/projeto/add}">cadastrar Projeto</a></li>
                              <li><a  th:href="@{/departamento/add}">cadastrar Departamento</a></li>
                        <li> <a  th:href="@{/u/lista}">Lista de Usuários</a> <li>
                    </ul>
                </li>
                <li  sec:authorize="hasAnyRole('ADMINISTRATIVO','ADMIN')">
                    <a href="#administrativo"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administrativo</a>
                    <ul class="collapse list-unstyled" id="administrativo">
                        <li><a  th:href="@{/administrativo/**}">Dados Cadastrais</a> <li>
                        <li><a th:href="@{/u/editar/senha}">Editar Senha</a> <li>

                        <li><a  th:href="@{/agendamentos/historico/consultas}">Consultas Agendadas</a> <li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ASSISTENTE','ADMIN')">
                    <a  href="#assistente"   data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ASSISTENTE </a>
                    <ul class="collapse list-unstyled" id="assistente">
                        <li><a  th:href="@{/assistente/**}">Cadastrar Dados</a></li>
                        <li><a  th:href="@{/u/editar/senha}">Editar Senha</a></li>

                        <li> <a  th:href="@{/agendamentos/agendar}">Agendar Consulta</a></li>
                        <li> <a  th:href="@{/agendamentos/historico/paciente}">Histórico de Consultas</a></li>
                    </ul>
                </li>					
                <li  sec:authorize="hasAnyRole('AUXDMINISTRATIVO','ADMIN')">
                    <a  href="#auadministrativo"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AUXILIAR  </a>
                    <ul class="collapse list-unstyled" id="auadministrativo">
                        <li><a th:href="@{/auxiliar/**}">Cadastrar Dados</a></li>
                        <li> <a  th:href="@{/u/editar/senha}">Editar Senha</a></li>

                        <li><a  th:href="@{/presenca/add}">Marcar Presença</a></li>
                        <li><a  th:href="@{/presenca/consultar}"> Consultar Presença</a></li>
                        <li><a  th:href="@{/presenca/historico/funcionarios}">Histórico de Presenças</a></li>
                    </ul>
                </li>					

                <li  sec:authorize="hasAnyRole('RH','ADMIN')">
                    <a href="#rh"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">RH </a>
                    <ul class="collapse list-unstyled" id="rh">
                        <li><a  th:href="@{/pacientes/dados}">Cadastrar Dados</a></li>
                        <li><a  th:href="@{/u/editar/senha}">Editar Senha</a></li>

                        <li><a  th:href="@{/funcionarios/add}">cadastrar funcionário</a></li>
                        <li><a  th:href="@{/cargo/add}">cadastrar cargo</a></li>
                        <li><a  th:href="@{/agendamentos/historico/paciente}">Histórico de Consultas</a></li>
                    </ul>
                </li>					


            </ul>

           
        </div>
    </body>

</html>