
        <div th:fragment="menu">
            <ul id="sidenav-left" class="sidenav sidenav-fixed" > 
                 <li><a th:href="@{/funcionarios}" class="dropdown-item">[[#{funcionario.list.headline}]]</a></li>
                                    <li><a th:href="@{/departamento}" class="dropdown-item">[[#{departamento.list.headline}]]</a></li>
                                    <li><a th:href="@{/cargo}" class="dropdown-item">[[#{cargo.list.headline}]]</a></li>
                                    <li><a th:href="@{/frequencia}" class="dropdown-item">[[#{frequencia.list.headline}]]</a></li>
                                    <li><a th:href="@{/endereco}" class="dropdown-item">[[#{endereco.list.headline}]]</a></li>
                                    <li><a th:href="@{/telefone}" class="dropdown-item">[[#{telefone.list.headline}]]</a></li>
                    

                <li  sec:authorize="hasAuthority('ADMIN')">
                    <a href="#admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
                    <ul class="collapse list-unstyled" id="admin">                    							
                        <li><a  th:href="@{/u/add}">Usuário</a> <li>
                        <li><a  th:href="@{/u}">Usuários</a> <li>
                        <li><a  th:href="@{/perfis}">perfis</a> <li>
                        <li><a  th:href="@{/perfis/add}">add perfil</a> <li>
                    </ul>
                </li>
                <li  sec:authorize="hasAuthority('ADMINISTRADOR')">
                    <a href="#administrador"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administrador</a>
                    <ul class="collapse list-unstyled" id="administrador">
                        <li><a  th:href="@{/administrador/dados}">dados</a> <li>
                        <li><a  th:href="@{/centroCusto/add}">add centro de custo</a></li>
                        <li><a  th:href="@{/centroCusto}"> centros de custos</a></li>
                        <li><a  th:href="@{/departamento/add}">add departamento</a></li>
                        <li><a  th:href="@{/departamento}">departamentos</a></li>
                        <li><a  th:href="@{/cargo/add}">cadastrar cargo</a></li>
                    </ul>
                </li>
                <li  sec:authorize="hasAuthority('ASSISTENTE')">
                    <a  href="#assistente"   data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ASSISTENTE </a>
                    <ul class="collapse list-unstyled" id="assistente">
                        <li><a  th:href="@{/assistente/dados}">dados</a></li>
                        <li><a  th:href="@{/funcionarios/add}">add funcionário</a></li>                      
                        <li> <a  th:href="@{/funcionarios}"> Funcionários</a></li>
                        <li> <a  th:href="@{/funcionario/historico/funcionario}">Histórico</a></li>
                    </ul>
                </li>					
                <li  sec:authorize="hasAuthority('AUXILIAR')">
                    <a  href="#aux"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AUXILIAR  </a>
                    <ul class="collapse list-unstyled" id="aux">
                        <li><a th:href="@{/auxiliar/dados}">dados</a></li>
                        <li><a  th:href="@{/presenca/add}">Presença</a></li>
                        <li><a  th:href="@{/presenca}"> Presença</a></li>
                        <li><a  th:href="@{/frequencia}"> Frequência</a></li>
                        <li><a  th:href="@{/presenca/historico/funcionarios}">Histórico</a></li>
                    </ul>
                </li>					
                <li  sec:authorize="hasAuthority('DIRETOR')">
                    <a  href="#diretor"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DIRETORIA  </a>
                    <ul class="collapse list-unstyled" id="diretor">
                        <li><a th:href="@{/diretor/dados}">dados </a></li>
                       
                    </ul>
                </li>					
               

            </ul>


        </div>
  
