#header_content ,.content{
    top: 0;
    position: relative;
    margin-left: 0px;
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    transition: all 0.3s;
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;

}

.content{
     position: absolute;
     top: 100px;
     left: 0px;
}
.components{
    position: relative;
    top: 0;
    left: 0;
}

#headers{
    padding-top:  0px;
    background-color: #fff;
    height: 125px;
    margin-left: 220px;
    border-bottom: 2.5px solid #0dcaf0;
}