<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div  layout:fragment="corpo">


            <div th:replace="fragments/alert :: alerta-sucesso"></div>	
            <div class="add-toast position-absolute" aria-live="polite" aria-atomic="true" style="top:0px; right:20px;">
                <!--toast-->
            </div>


            <form th:action="${campanha.id == null} ? @{/campanhas/salvar} : @{/campanhas/editar}"
                  th:object="${campanha}"	method="POST" class="was-validated">
                <div class="form-group row">
                    <label for="nome" class="col-sm-3 col-form-label">Campanha</label>
                    <div class="col-sm-5">

                        <input type="text" class="form-control" id="nome"  th:field="*{nome}" required />
                        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

                    </div>
                    <div class="col-sm-4">
                        <button  class="btn btn-primary ">Cadastrar</button>                   
                    </div>
                </div>




               

                <input type="hidden" th:field="*{id}">

            </form>
            <br />
            <hr />

            <h2>Lista de Campanha</h2>

            <div th:include="fragments/campanha_lista::campanha"></div>
        </div>


        <script th:src="@{/js/campanha.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">



        </script>
    </body>
</html>