<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <link th:href="@{/css/pesquisas.css(v=${version}) }" rel="stylesheet" media="all" />
    

    </head>
    <body>

     
            <main class="main">                

              Aqui
            </main>
      

     
        <script th:inline="javascript" th:fragment="inlinescript">

        </script>
    </body>
</html>