<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="version=${#strings.randomAlphanumeric(3)}">
    <head th:replace="~{fragments/header :: hea}">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>



    </head>
    <body >

        <header class="bg-light">
            <div th:replace="~{fragments/header :: header}"/>
        </header>    
 
         <main class="my-5">
            
       
            <div class="container" >
		<p th:if="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert">[[${MSG_SUCCESS}]]</p>
                <p th:if="${MSG_INFO}" class="alert alert-info mb-4" role="alert">[[${MSG_INFO}]]</p>
                <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert">[[${MSG_ERROR}]]</p>
                <div layout:fragment="content"  />
            <span th:replace="~{fragments/modal-confirm :: modal-confirm}"></span>
            </div>
        </main>


        <div th:replace="~{fragments/footer :: rodape}" sec:authorize="!isAuthenticated()">
            <div>footer</div>
        </div>







        <!-- Bootstrap core JavaScript    ================================================== --> 

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
      


        <!-- 	Datatables JS -->

        <script th:src="@{https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js(v=${version}) }"></script>
        <script th:src="@{https://code.jquery.com/jquery-3.7.0.js(v=${version}) }"></script>
        <script th:src="@{https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js(v=${version}) }"></script>
        <script th:src="@{https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js(v=${version}) }"></script>
        <script th:src="@{https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js(v=${version}) }"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js(v=${version}) }"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
        <script th:replace="~{:: js}"></script>	
        <script th:replace="~{:: inlinescript}" th:inline="javascript"></script>

        <script type="text/javascript">
            $(".dropdown-trigger").dropdown();
            document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {
      // specify options here
    });
  });
  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
  
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
      // specify options here
    });
  });
  
  

            
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            var url = '';

            $('table').on('click', 'a', function () {
                url = $(this).attr('href');
            });

            $("#btnOk").on('click', function () {
                document.location.href = url;
            });

            $("#btnCancel").on('click', function () {
                url = '';
            });

            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>

    </body>
</html>
