<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Acesso</title>


    </head>
    <body>
        <section  layout:fragment="corpo">

            <form class="form-signin was-validated" method="post" th:action="@{/login}">
                <div class="text-center mb-5">
                    <!--img class="mb-4" th:src="@{/image/registration.jpg}" alt="" width="72" height="72"/-->
                    <!--h1 class="h3 mb-3 font-weight-normal">gestão de pessoais</h1-->

                    <!--p class="font-weight-lighter">Seja bem-vindo.</p-->
                    <!--p class="text-muted">Realize seu login para continuar</p-->					
                    <div th:if="${alerta != null}" th:class="${alerta == 'erro'} ? 'alert alert-danger' : 'alert alert-success'"
                         role="alert">
                        <h4 th:text="${titulo}" class="alert-heading">Credenciais...</h4>
                        <p th:text="${texto}">Login ou senha incorretos...</p>
                        <hr>
                        <p class="mb-0"><small th:text="${subtexto}">Acesso permitido...</small></p>
                    </div>
                </div>

                <div class="form-label-group">
                    <input type="text" id="nome" class="form-control"
                           placeholder="Email address" name="username" required autofocus/>
                    <label for="inputEmail">Email</label>
                    <div class="invalid-feedback">Use seu email cadastrado como login.</div>
                </div>

                <div class="form-label-group">
                    <input type="password" id="password" class="form-control"
                           placeholder="Password" name="password" required/> 
                    <label for="password">Senha</label>
                    <div class="invalid-feedback">Digite sua senha.</div>	
                </div>

                <!--div class="checkbox mb-3">
                    <label> <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                </div-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                <hr>
                <!--nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/u/novo/cadastro}"><i class="far fa-arrow-alt-circle-right"></i>&nbsp;Novo cadastro</a>
                    <a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/u/p/redefinir/senha}"><i class="fas fa-key"></i>&nbsp;Recuperar senha</a>

                </nav-->

            </form>

        </section>
        <script th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>