<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
       layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>

        <div  layout:fragment="corpo">


            <div class="container bg-light">
                <div class="col-sm">
                    <div th:replace="fragments/alert :: alerta-sucesso"></div>	


                    <form th:action="${oc.id == null} ? @{/oc/salvar} : @{/oc/editar}"
                          th:object="${oc}"	method="POST" class="was-validated">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="comprador" class="form-group">Comprador </label>
                                <input type="text" class="form-control"
                                       th:field="*{comprador}" id="centro" placeholder="António..."
                                       required/>
                                <div class="invalid-feedback">Comprador  é requerido.</div>
                            </div>

                        </div>






                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary"
                                        data-toggle="tooltip" data-placement="right" title="Salvar">
                                    <i class="fas fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <hr />

                    <h2>OC</h2>
                    <table id="table-medico-especializacao" 
                           class="table table-sm table-striped table-bordered nowrap"
                           style="width: 100%">
                        <thead class="thead-dark">
                            <tr th:each="oc ${ocs}">
                                <th th:text="${oc.id}">Código</th>
                               
                                <th>OC</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                    </table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </div>
            </div>
        </div>
        <script	th:src="@{/js/cateforia.js(v=${version})}"	th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">
            
        </script>
    </body>
</html>