<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8" />
        <title>Controle Presença</title>
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">


            <div class="album py-5 bg-light">


                <div class="d-flex justify-content-center">
                    <div class="col-md-10">
                        <h1>Marcar Presença</h1>
                        <div th:replace="~{fragments/alert  :: alerta-sucesso}"></div>

                        <div class="add-toast position-absolute" aria-live="polite" 
                             aria-atomic="true" style="top:0px; right:20px;">
                            <!--toast-->
                        </div>
                        <form th:action="${cartao.id == null} ? @{/cartao/salvar} : @{/cartao/editar}"  th:object="${cartao}"  method="POST" class="was-validated">

                            <div class="form row">
                                <label class="col-sm-2 col-form-label"  for="status" >Selecione o Funcionário</label> 
                                <div class="col-sm-3">
                                    <select class="form-select" th:field="*{funcionario}" >
                                        <option th:each="funcionario : ${funcionarios}"   th:value="${funcionario.id}" th:text="${funcionario.nome}" id="funcionario"  />
                                    </select>  

                                </div>
                            </div>

                            <div class="form-row">								
                                <div class="form-group col-md-12">
                                    <small class="form-text text-muted">Selecione a data</small>
                                    <input class="form-control" type="date" id="dia" th:field="*{dia}" required/>
                                    <div class="invalid-feedback">
                                        Data é obrigatória.
                                    </div>	
                                </div>
                            </div>



                            <div class="form row">
                                <label class="col-sm-2 col-form-label"  for="status" >Status</label> 
                                <div class="col-sm-3">
                                    <select class="form-select" th:field="*{status}" >
                                        <option th:each="status : ${status}"   th:value="${status}" th:text="${status}" id="status"  />
                                    </select>  

                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-12">
                                            <small id="hr-small" class="form-text text-muted">Horários disponíveis
                                                    para a consulta</small>
                                            <select id="horarios" class="custom-select" size="5" 
                                                    th:field="*{horario.id}" required>
                                                    <option th:value="*{horario.id}" 
                                                                    th:text="*{horario.horaMinuto}"></option>
                                            </select>
                                            <div class="invalid-feedback">Horário é obrigatório</div>
                                    </div>
                            </div>
                            <div class="form row">
                                <label class="col-sm-2 col-form-label"  for="periodo" >Selecione o período</label> 
                                <div class="col-sm-3">
                                    <select class="form-select" th:field="*{periodo}" >
                                        <option th:each="periodo : ${periodos}"   th:value="${periodo.id}" th:text="${periodo.nome}" id="periodo"  />
                                    </select>  

                                </div>
                            </div>

                           

                            <input type="hidden" th:field="*{id}"/>							
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button id="btn-salvar" type="submit" class="btn btn-primary" 
                                            data-toggle="tooltip" data-placement="right" title="Salvar">
                                        <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </section>
        <script	th:src="~{}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript"></script>
    </body>
</html>