<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div  layout:fragment="corpo">
                <h2>Centro Cadastrados</h2>

                <table id="centro_custos" class="table table-sm table-striped table-bordered nowrap"
                       >
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">nome </th>
                                              
                            <th scope="col">editar</th>
                            <th scope="col">excluir</th>
                        </tr>
                    </thead>
                </table>
          
        </div>



        <script	th:src="@{/js/centro.js(v=${version})}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">

        </script>
    </body>
</html>