<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
    <head>
        <title>[[#{endereco.add.headline}]]</title>
    </head>
    <body>
         <div layout:fragment="content">                


                <div class="album py-5 bg-light">
                    <div class="container d-flex justify-content-center">

                        <form class="form-signin was-validated" th:object="${usuario}" method="post" th:action="@{/api/u/registrar}">	



                            <div class="row">  

                                <div class="full-width">
                                    <label for="nome">Nome</label>
                                    <input  type="text"  name="nome"   placeholder="Ex.: comercio@tst.com" required />
                                </div>

                                <div class="full-width">
                                    <label for="email">E-mail</label>
                                    <input name="email" type="email"    placeholder="Ex. connosco@gestao.com"/>
                                </div>

                                <div class="full-width">
                                    <label for="password">senha</label>
                                    <input n type="password"  name="password"   placeholder="Ex.: 123" required/>
                                </div>





                                <div class="mb-3">
                                    <label class="form-check-label" for="perfis"><b>Perfil</b></label>
                                    <th:block th:each="perfis : ${perfis}" >
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" th:value="${perfis.p}" th:text="${perfis.p}" id="perfis"  th:field="*{perfis}" />
                                        </div>
                                    </th:block>
                                    <div class="invalid-feedback">Pelo menos um perfil é requerido.</div>

                                </div>



                               

                                <input type="hidden" th:field="*{id}"> 


                            </div>   


                            <div  class="action">
                                <button  type="button" [mat-dialog-close]="false">Cancelar</button>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">salvar</button>
                                <a class="btn btn-dark btn-lg " role="button" aria-pressed="true" th:href="@{/}"><i class="fas fa-home"></i>&nbsp;início</a>

                            </div>        

                        </form>
                      

                    </div>
                    </div>
              
            

        <script	th:src="@{/js/enderec.js(v=${version})}"  th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">

            $(document).ready(function () {

                function limpa_formulário_cep() {
                    // Limpa valores do formulário de cep.
                    $("#rua").val("");
                    $("#bairro").val("");
                    $("#cidade").val("");
                    $("#uf").val("");
                    $("#numero").val("");
                    $("#complemento").val("");
                }

                //Quando o campo cep perde o foco.
                $("#cep").blur(function () {

                    //Nova variável "cep" somente com dígitos.
                    var cep = $(this).val().replace(/\D/g, '');

                    //Verifica se campo cep possui valor informado.
                    if (cep !== "") {

                        //Expressão regular para validar o CEP.
                        var validacep = /^[0-9]{8}$/;

                        //Valida o formato do CEP.
                        if (validacep.test(cep)) {

                            //Preenche os campos com "..." enquanto consulta webservice.
                            $("#rua").val("...");
                            $("#bairro").val("...");
                            $("#cidade").val("...");
                            $("#uf").val("...");
                            $("#numero").val("...");
                            $("#complemento").val("...");

                            //Consulta o webservice viacep.com.br/
                            $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                                if (!("erro" in dados)) {
                                    //Atualiza os campos com os valores da consulta.
                                    $("#rua").val(dados.logradouro);
                                    $("#bairro").val(dados.bairro);
                                    $("#cidade").val(dados.localidade);
                                    $("#uf").val(dados.uf);

                                } //end if.
                                else {
                                    //CEP pesquisado não foi encontrado.
                                    limpa_formulário_cep();
                                    alert("CEP não encontrado.");
                                }
                            });
                        } //end if.
                        else {
                            //cep é inválido.
                            limpa_formulário_cep();
                            alert("Formato de CEP inválido.");
                        }
                    } //end if.
                    else {
                        //cep sem valor, limpa formulário.
                        limpa_formulário_cep();
                    }
                });
            });
        </script>
    </body>
</html>
