<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>[[#{app.title}]]</title>
        <script src="https://www.gstatic.com/charts/loader.js"></script>

    </head>
    <body>
        <div layout:fragment="content">
           
                
            <h1 class="mb-4 text-center">[[#{home.index.headline}]]</h1>
           

            <div class="album py-5 bg-light">

                <div class="d-flex justify-content-center">
                    <div class="col-md-12"> 

                        <div class="row" sec:authorize="isAuthenticated()"> 

                            <div class="col-md-6">
                                <h5 class="card-title">DP</h5>
                                <div id="chart_div"></div>

                            </div>
                            <div class="col-md-6">

                                <h5 class="card-title">DP</h5>
                                <div id="funcionarios" class="text-center"></div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" th:src="@{/image/medicina_3.jpg}">
                                    <div class="card-body">
                                        <h5 class="card-title">cmil - amt</h5>
                                        <p class="card-text">Complexo preparado com uma estrutura
                                            que engloba todas as áreas não cirúrgicas, sendo subdividida em
                                            várias outras especialidades...</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" th:src="@{/image/amt.jpg}">
                                    <div class="card-body">
                                        <h5 class="card-title">cmil - ipatinga</h5>
                                        <p class="card-text">Nossa clínica conta com a parte da
                                            medicina que estuda e trata crianças. Possuímos quartos
                                            exclusivos para esta faixa etária com...</p>
                                    </div>
                                </div>
                            </div>
                        </div>

<div id="container" style="height: 400px"></div>
                    </div>
                </div>
            </div>

        </div>
        <script  th:src="@{/js/index.js}" th:fragment="js"></script>
        <script  th:src="@{/js/home.js}" th:fragment="js"></script>
        <script th:inline="javascript" th:fragment="inlinescript">


            var real_data = /*[[${chartData}]]*/'noValue';
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(drawColumnChart);
            function drawColumnChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                Object.keys(real_data).forEach(function (key) {
                    data.addRow(real_data[key]);
                });
                var options = {
                    title: 'Estatísticas do Protal',
                    hAxis: {
                        title: 'Meses',
                    },
                    vAxis: {
                        title: 'Ver contagem'
                    }
                };
                var chart = new google.visualization.ColumnChart(document
                        .getElementById('chart_div'));
                chart.draw(data, options);
            }
            function drawPieChart() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                Object.keys(real_data).forEach(function (key) {
                    data.addRow(real_data[key]);
                });

                // Set chart options
                var options = {
                    title: 'Estatísticas do Protal'
                };
                var chart = new google.visualization.PieChart(document
                        .getElementById('piechart'));
                chart.draw(data, options);
            }



        </script>




    </body>
</html>
