<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>[[#{frequencia.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">


            <form th:action="${frequencia.id == null} ? @{/frequencias/add} : @{/frequencias/editar}" th:object="${frequencia}" method="POST" class="was-validated row g-3" id="frequenciaForm">

                <div class="col-auto">
                    <label for="funcionario" class="visually-hidden">Nome</label>
                    <select id="funcionario"  th:field="*{funcionario}" class="form-control ">
                        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"/>
                    </select>

                </div>



                <div class="col-auto">
                    <label for="dataAtual" class="visually-hidden">Hora</label>
                    <input   required  type="date" th:field="*{dataAtual}" id="dataAtual" class="form-control"/>
                </div>

                <input type="hidden"   th:field="*{id}"/>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Bater Ponto</button>
                </div>             
            </form>
        </div>


        <script th:src="~{}" th:fragment="js"/>
        <script th:inline="javascript" th:fragment="inlinescript">
            $("#frequenciaForm").submit(function(event) {
            event.preventDefault();
             var dat = atualizarHorario();
             var $form = $( this ),
             
             
            });
            var funcionarios = [[${funcionariosData
            }
            ]];
            var fequencia = {
            "id": null,
                    "funcionario": "no duh",
                    "dataAtual": "no duh"
            };
            $.each(fequencia, function (propName, propVal) {
            console.log(propName, propVal);
            });
            function testeAjax() {

            var funcionarios = [[${funcionariosData
            }
            ]];
            var n = 0;
            for (var f = 0; f < funcionarios.length; f++) {

            jQuery.ajax({
            type: "POST",
                    url: "/frequencias/",
                    data: {acao: 'add', funcionario: funcionarios[c]},
                    success: function (data) {

                    if (data !== '') {
                    n++;
                    }

                    }

            });
            }
            alert(n);
            }


            function atualizarHorario() {
            var data = new Date().toLocaleString("pt-br", {
            timeZone: "America/Sao_Paulo"
            });
            //var formatarData = data.replace(", ", " - ");
            //apHorario.innerHTML = formatarData; 
            document.getElementById("horario").innerHTML = data.replace(", ", " - ");
            }

            setInterval(atualizarHorario, 1000);
        </script>
    </body>
</html>
